@import "tailwindcss";

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

@media print {
  @page {
    size: 6in 9in;
    margin: 0;
  }
  body {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    background-color: white !important;
    margin: 0;
    padding: 0;
  }
  .break-after-page {
    break-after: page;
    page-break-after: always;
  }
}
